<a href="https://colab.research.google.com/github/robajo12/data_analytics_2/blob/main/Python/Unit3_NumPy_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [14]:
#Dataset from summer Olympic London, year 2012
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])
highest= np.max(np_olympic_country_Gold)

## 2.	Find country with maximum gold

In [5]:
import numpy as np
#Dataset from summer Olympic London, year 2012
olympic_country_list = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
olympic_country_Gold_list = np.array([29,38,24,46,13,7,11])
olympic_country_Silver_list = np.array([17,28,25,28,8,14,11])
olympic_country_Bronze_list = np.array([19,22,32,29,7,17,14])
maxivalue = np.where(olympic_country_Gold_list== np.max(olympic_country_Gold_list))
print('Max number of gold medals',np.max(olympic_country_Gold_list ))
print('The country with more gold medals is:',olympic_country_list[maxivalue])

Max number of gold medals 46
The country with more gold medals is: ['US']

## 3.	Find countries with more than 20 gold medals

In [9]:
for n in olympic_country_Gold_list:
  if n > 20:
    print('Number of gold greather than 20: ',str(n))

Number of gold greather than 20:  29
Number of gold greather than 20:  38
Number of gold greather than 20:  24
Number of gold greather than 20:  46

In [10]:
moreThan_20 = np.where(olympic_country_Gold_list >20)
print('the countrieas with more than 20 medals are:',olympic_country_list[moreThan_20])

the countrieas with more than 20 medals are: ['GBR' 'China' 'RUS' 'US']